@import "src/styles/abstracts";

.pokemon-type {
  display: inline-block;
  padding: 5px;
  border: 2px solid;
  border-radius: $border-radius-sm;
  width: 100%;
  max-width: 80px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1;
}

@mixin pokemon-type-variant(
  $background,
  $border,
  $color: color-contrast($background)
) {
  color: $color;
  background-color: $background;
  border-color: $border;
}

@each $type, $color in $pokemon-types {
  .pokemon-type-#{$type} {
    composes: pokemon-type;
    @include pokemon-type-variant(shade-color($color, 50%), $color);
  }
}
