@import "src/styles/abstracts";

.pokemon-card {
  &__header {
    composes: rounded-pill bg-black from global;
    overflow: auto;
    display: flex;
    height: 42px;
    margin-bottom: 0.5rem;
  }

  &__id {
    font-size: $h4-font-size;
    font-weight: $font-weight-medium;
    background-color: #f0501e;
    clip-path: polygon(0 0, 100% 0%, calc(100% - 25px) 100%, 0 100%);
    flex: 0 0 auto;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name {
    font-size: $h3-font-size;
    font-weight: $font-weight-medium;
    flex: 1 1 0;
    text-transform: capitalize;
    padding-left: 1rem;
  }

  &__sprites {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  &__image {
    width: 150px;
  }

  &__types {
    composes: rounded-pill bg-white from global;
    overflow: auto;
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    height: 42px;
  }

  &__title {
    font-size: $h4-font-size;
    font-weight: $font-weight-medium;
    background-color: #dbdbd9;
    color: $black;
    clip-path: polygon(0 0, 100% 0%, calc(100% - 25px) 100%, 0 100%);
    flex: 0 0 auto;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__value {
    flex: 1 1 0;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
